# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.astro/

# Environment variables
.env
.env.production
.env.local

# macOS
.DS_Store

# Editor directories
.vscode/
.idea/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
